*{
    margin: 0;
    padding: 0;
    transition: color .1s, background .5s;
    text-decoration: inherit;
    color: inherit;
    box-sizing: border-box;
}
.container{
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


body{
    --primary-color: #4fc6ce;
    --accent-01: #dbdbdb;
    --accent-02: #98b1ba;
    --accent-03: #26333a;
    --accent-04: #1A2328;
    font-family: calibri, sense-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    background-color: var(--accent-04);
    color: var(--accent-01);

}
body.light{
    --primary-color: #4fc6ce;
    --accent-01: #1d3a41;
    --accent-02: #225b60;
    --accent-03: #ffffff;
    --accent-04: #d5f3f9;
}

.container{
    display: grid;
    gap: 5px;
    max-width: 1300px;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}

.box{
    background-color: var(--accent-03);
    border-radius: 25px;
    
}




.navbar{
    display: grid;
    gap: 5px;
    text-align: center;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
    position: sticky;
    z-index: 5;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--accent-02);

}

.navbar > div {
   padding: 25px 10px;
}

.navbar ion-icon {
    font-size: 32px;
    margin: auto
}

.navbar .active,
.navbar .item:hover {
    color: var(--primary-color);
    opacity: 1;
}




.divider{
    height: 2px;
    width: 100%;
    margin: 15px 0;
}

.itr{
    background: radial-gradient(ellipse at left, var(--accent-02) -70%, transparent 80% );
}

.rtl{
    background: radial-gradient(ellipse at right, var(--accent-02) -70%, transparent 80% );
}

.profile{
    text-align: center;
    font-size: 20px;
}

.profile .header{
    max-height: 40vh;
    width: 100%;
    border-radius: 25px 25px 0 0;
    clip-path: polygon(100% 0, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 0);
}
.profile .img{
    width: 100vh;
    position: relative;
    max-height: 150px;
    max-width: 150px;
    margin: -60% auto 0;
    border: var(--accent-04) 8px solid;
    border-radius: 35px;

}

.profile p{
    margin-top: 10px;
    height: 20px;
}

.profile ul{
    list-style-type: none;
    margin: 30px 0 80px 0;
}

.profile ul li{
    display: inline;
}

.profile .footer{
    position: sticky;
    top: calc(100vh - 100px);
}

.profile table{
    width: 100%;
    padding-bottom: 15px;
}

.profile ion-icon{
    color: var(--accent-02);
    transition: color .5s, border-color .5s, background-color .5s;
    margin-bottom: -7px;
}
.profile ul ion-icon{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--accent-04);
}

.profile ul ion-color:hover{
    border-color: var(--accent-04);
}

.profile ion-icon:hover{
    color: var(--primary-color);
}

.profile table ion-icon{
    padding: 5px;
    border-radius: 10px;
    transition: color .5s, background-color .5s;

}

.profile td:hover ion-icon{
    background-color: var(--primary-color);
    color: var(--accent-04);
}

.content{
    padding: 20px 15px 20px 20px;
}

.content h2{
    font-size: 2em;
    padding-top: 20px;
}

.content p{
    line-height: 1.5;
    font-size: 18px;
    padding-bottom: 10px;

}

.colord{
    color: var(--primary-color);
}

.section{
    margin: 30px auto;
}

.achivements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent-04);
    padding: 20px 30px;
    gap: 10px;
    border-radius: 10px;
}

.achivements h3{
    font-size: 2.3em;
}


.achivements ion-icon{
    margin-bottom: -5px;
    color: var(--primary-color);
    font-size: 0.9em;
}

.achivements p{
    color: var(--accent-02);
    line-height: 1.2;
    font: 15px;
}



.skills{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  color: var(--accent-02);
}


.skills > div {
    background-color: var(--accent-04);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: var(--accent-04) 3px solid;
    transition: border-color .5s;
    cursor: pointer;
    height: 120px;
}    



.skills > div:hover {
    border-color: var(--primary-color);
}

.skills ion-icon{
    color: var(--primary-color);
    font-size: 32px;
}

.skills .circle {
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    background: conic-gradient(from 0deg,
                var(--primary-color) 0%
                var(--primary-color)0% var(--percent),
                var(--accent-03) var(--percent));
    border-radius: 50%;
    margin-bottom: 5px;
}
































/* Large screens */
@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: 85px 430px 1fr;
    }

     
    .skills div:nth-child(7) {
        grid-column: 3 / span 2;
    }
}

/* Medium screens (tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        grid-template-columns: 85px 1fr;
    }
    .content {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .achivements {
        grid-template-columns: 1fr 1fr;
    }
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skills div:nth-child(7) {
        grid-column: 1 / 4;
    }
}

/* Small screens (mobile) */
@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 500px;
        padding: 20px;
        padding-top: 50px;
    }
    .navbar {
        display: inline-grid;
        grid-template-columns: 85px 1fr;
    }
    .nav {
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 5px;
    }
    .nav .divider,
    nav p {
        display: none;
    }
    .navbar > div {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .achivements {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .skills {
        grid-template-columns: 1fr 1fr;
    }
    .skills div:nth-child(7) {
        grid-column: 1 / 3;
    }
}